html{
    height:100%;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-weight: 500;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #767373;
    border-top: solid 2px #3490dc;
    color: #fff;
}
.box-module{
    box-shadow: 5px 5px 10px black;
    border: solid 1px whitesmoke;
    border-radius: 5px;
    & i{
        font-size: 90px;
    }
    & small{
        font-size: 15px;
        font-weight: 400;
        text-align: center;
    }
}
.welcome{
    place-content: center;
}